* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  color: white;
  font-size: 1.8rem;
  background: E5E5E5;
}
.header_section {
  height: 1107px;
  width: 100%;
  background-image: url(/css/img/aa\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.navigation_section {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
}
.navigation_section_text {
  height: 28px;
  width: 109px;
  margin-top: 15.4px;
  margin-left: 120.5px;
  margin-right: 240.16px;
}
.navigation_section_list {
  display: flex;
  list-style: none;
  margin-top: 18.78px;
  margin-right: 240.16px;
}
.navigation_section_list li {
  margin-right: 45.31px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0rem;
  text-align: left;
}
.navigation_section_search_lock_container {
  margin-top: 17px;
  display: flex;
}
.navigation_section_search {
  width: 23px;
  height: 23px;
  margin-right: 21px;
}
.navigation_section_lock {
  width: 2.3rem;
  height: 2.3rem;
  margin-right: 149.5;
}
/* herosection */

.herosection {
  position: relative;
  /* margin-top: 80.2px; */
}
.herosection_heading1 {
  position: absolute;
  margin-top: 80.2px;
  height: 190px;
  width: 379px;
  left: 125px;
  /* top: 141px; */
  font-family: Aladin;
  font-size: 180px;
  font-weight: 400;
  line-height: 190px;
  font-size: 180px;
  font-style: Regular;
  line-height: 86%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.33)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.herosection_heading2 {
  position: absolute;
  z-index: 10;
  font-family: Aladin;
  font-size: 180px;
  font-weight: 400;
  line-height: 190px;
  letter-spacing: 0em;
  height: 190px;
  width: 478px;
  left: 378.59375px;
  /* top: 344.82623291015625px;  */
  margin-top: 284.04px;
  /* margin-right: 659.09px; */
  margin-left: 302.91px;
  background: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.33)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.herosection_content {
  position: absolute;
  width: 406.2px;
  height: 78px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  /* text-align: left; */
  margin-left: 120.5px;
  margin-top: 315.7px;
  margin-bottom: 83.57px;
}
.herosection_circle--img {
  position: absolute;
  height: 186.35447692871094px;
  width: 186.35447692871094px;
  /* left: 129.2235107421875px; */
  /* top: 542.4288940429688px; */
  margin-top: 477.27px;
  margin-bottom: 415.557px;
  margin-left: 114.72px;
}
.herosection_main-img {
  position: absolute;
  height: 983.1372680664062px;
  width: 791.9268188476562px;
  margin-top: 69.7px;
  margin-left: 309.54px;
  /* margin-right: 338.54px; */
  margin-bottom: 30.73px;
  object-fit: contain;
}
.hero_section_list_container {
  margin-top: 805.4px;
  margin-bottom: 19.75px;
}
.herosection_list1 {
  position: absolute;
  height: 95.20971793680512px;
  width: 99.5%;
  /* left: -190.70831298828125px;
top: 1054.4339599609375px; */
  display: flex;
  background: rgba(255, 108, 18, 1);
  transform: rotate(-6.56deg);
  z-index: 1;
}
.herosection_list1 li {
  height: 22.000000263402345px;
  width: 185.00000221497427px;
  /* left: 59.21356201171875px; */
  /* top: 1062.5344848632812px; */
  margin-right: 59.44px;
  align-self: center;
  font-size: 13px;
  line-height: 90%;
}
.herosection_list2 {
  height: 95.20971614196135px;
  width: 113%;
  /* left: -47.07391357421875px;
  top: 961.6043395996094px; */
  display: flex;
  background: rgba(183, 117, 76, 1);
  transform: rotate(6.56deg);
}
.herosection_list2 li {
  height: 21.999999848669855px;
  width: 359.99999752368853px;
  /* left: 692.2240791320801px;
top: 1034.68896484375px;
 */
  align-self: center;
  font-size: 13px;
  /* line-height: 22px; */
  margin-right: 60.32px;
  transform: rotate(-2.82deg);
}
/* main-section */
.main-section_expose_doge {
  position: relative;
  height: 1200px;
  width: 100%;
  background-color: black;
}
.main-section_expose_doge_heading {
  position: absolute;
  margin-top: 145.02px;
  height: 230px;
  width: 909.6840209960938px;
  /* left: 135px;
top: 1294.0390625px; */
  font-family: Aladin;
  font-style: normal;
  line-height: 94px;
  font-size: 100px;
  background: linear-gradient(
    #ffffff 0%,
    rgba(255, 255, 255, 0.18),
    0.01%,
    #ffffff 52.08%,
    rgba(255, 255, 255, 0.33) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.main-section_expose_doge_img2 {
  position: absolute;
  height: 707.2273559570312px;
  width: 977.435181px;
  /* left: 129.11090087890625px;
top: 1531.9722900390625px; */
  margin-top: 239.62px;
  object-fit: contain;
}
.main-section_expose_doge_img1 {
  position: absolute;
  height: 102.20799255371094px;
  width: 102.20799255371094px;
  /* left: 433.9666748046875px;
  top: 2036.65234375px; */
  margin-top: 664.68px;
  margin-left: 227.86px;
  z-index: 1;
}
.main-section_expose_doge-content--container {
  position: absolute;
  height: 407.02777099609375px;
  width: 593.3649291992188px;
  /* left: 711.6350708007812px;
top: 1703.2286376953125px; */
  border-radius: 20px;
  background: linear-gradient(
    rgba(255, 108, 18, 0.15) 0%,
    rgba(255, 108, 18, 0.09) 100%
  );
  margin-top: 462.88px;
  margin-left: 416.52px;
}
.main-section_expose_doge-content {
  height: 224px;
  width: 463.65460205078125px;
  /* left: 776.490234375px;
top: 1760.3209228515625px; */
  font-weight: 400;
  line-height: 32px;
  margin: 57.09px 64.86px 32.84px 64.86px;
  font-size: 20px;
}
.main-section_expose_doge-sub-content-container {
  display: flex;
  margin-left: 64.86px;
  gap: 15.28px;
}

.main-section_expose_doge-sub-content-text {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  margin-top: 42.84px;
  text-align: left;
  color: rgba(255, 108, 18, 1);
}
.svg-sub-content_svg {
  margin-top: 50.84px;
}
